@charset "UTF-8";
body{
  width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
}
h1{
  font-size: 50px;
}
.circle p, .circle h3{
  position: relative;
  margin-top: 4px;
  margin-bottom: 0;
  padding:  0 0 0 10px;
}

.circle span{
  position: absolute;
  left: 0;
}
.circle img{
  margin: 20px 0;
}

section{
  margin-bottom: 40px;
}
section:nth-child(6) h3 + p{
  margin-bottom: 10px;
}
section:last-child{
  margin-bottom: 100px;
}